
/* mdb changes */

$default: #fff;
a {
  color:$default;
  
}


.btn-floating i {

  color: #fff;
}

.btn, .btn-large, .btn-small {
  text-decoration: none;
  color: #fff;
}

label{
  margin-top: -7px;
}
