.bg-about{
  background: #373B44;  /* fallback for old browsers */

}
/* .btn-floating.halfway-right {
  position: absolute;
  right: 10px;
  bottom: 10px;
} */

/* .btn-rounded{ 
  border-radius: 24px;
} */
/* .btn-floating {
  width: 49px;
  height: 49px;
  text-align: center;
  padding: 5px 0;
  font-size: 20px;
  line-height: 2.00;
  border-radius: 30px;
} */


/* 
.error-icon{
  color: #FF4081!important;
}
.valid-icon{
  color: #4CAF50!important;
}

.error{
  color: #FF4081!important;
}
 */

